@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This web app acts as a Grafana json datasource backend API server for eDNA historian</p>
    <p>Test the API <a asp-controller="swagger">here</a></p>

</div>
